= simple_form_for(@person) do |f|
  = f.error_notification

  .inputs
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :notes

  .actions
    = f.button :submit
